body {
    background-color: #cccccc9e;
}
* {
    margin:0;
    font-family: arial;
    border:border-box;
}
.navbar {
    height:60px;
    background-color: #0f1111;
    color:white;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav-logo {
    height:50px;
    width:113px;
}
.logo{
    background-image: url("amazon_logo.png");
    height:50px;
    width: 100%; 
    background-size: cover;
}
.border{
    border:2px solid transparent;
}
.border:hover{
    border:1.2px solid white;
}
.address1{
    color:#CCCCCC;
    font-size:0.85rem; 
    margin-left:15px; 
}
.address2{
  font-size:1rem;
  margin-left: 3px;
}
.add-icon{
    display:flex;
    align-items:center;
}
.search{
    display:flex;
    width:620px;
    height:40px;
    border-radius:5px;
    justify-content: space-evenly;
}
.search-select{
    background-color:#F3F3F3;
    width:50px;
    text-align:center;
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
    border: none;
}
.search-input{
    width:100%;
    font-size:1rem;
    border:none;
}
.search-icon{
    width:45px;
    display:flex;
    justify-content: center;
    align-items:center;
    font-size:1.2rem;
    background-color:#febd68;
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
    color:#0f1111;
}

.search:hover{
    border:2px solid orange;
}

span{
    font-size:0.7rem;
}

.nav-signin2{
    font-size:0.85rem;
    font-weight:700;
}

.nav-return2{
    font-size:0.85rem;
    font-weight:700;
}

.Cart i {
    font-size:30px;
}

.Cart {
    font-size:0.85rem;
    font-weight: 700;
}
.panel{
    display:flex;
    height:40px;
    background-color: #222f3d;
    color:white;
    align-items:center;
    justify-content: space-evenly;
}
.panel-ops p {
    display:inline;
    margin-left:15px;
}
.panel-ops {
    width:70%;
    font-size:0.85rem;
}
.panel-deals{
    font-size:0.95rem;
    font-weight: 700;
}
.hero-section{
    background-image: url("hero_image.jpg");
    background-size: cover;
    height:405px;
    display:flex;
    justify-content: center;
    align-items: flex-end;
    
}
.hero-message {
    background-color: white;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    height:40px;
    color:#0f1111;
    font-weight: 700;
    width:80%;
    margin-bottom: 25px;
}
.hero-message a {
    color: #007185;
}

.shop-section {
    display:flex;
    justify-content: space-evenly;
    background-color: #e2e7e6;
    flex-wrap: wrap;
}
 .box {
    margin-top:15px;
    height:405px;
    width:23%;
    padding: 20px 0px 5px;
    background-color: white;
 }
 .box1-img {
    background-size: cover;
    height:305px;
    margin-top:1rem;
    margin-bottom:1rem;
 }
 .box1-content {
    margin-left:1rem;
    margin-right:1rem;
 }

 .box1-content p{
    color:#007185;
    font-weight: 700;
 }

 footer{
    margin-top: 15px;
 }

 .panel1{
    height:50px;
    background-color: #37475a;
    color:white;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    border:1px solid transparent;
    font-size:0.85rem;
 }

 .panelll{
    height:70px;
    background-color:#0e1d2f;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    border:1px solid transparent;
    padding-bottom: 8px;
    padding-top:8px;
 }

 .logoo{
    background-image: url("amazon_logo.png");
    height:70px;
    width: 133px; 
    background-size: cover;
 }
 .panell{
    height:400px;
    color:white;
    background-color:#19385e;
    display:flex;
    justify-content: space-evenly;
 }

 ul {
    margin-top:27px;
 }
 .panell p{
    font-weight: 700;
 }

ul a{
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color:#dddddd;
}
.panellll{
    background-color: #0f1111;
    color:white;
    height:85px;
    font-size:0.7rem ;
    text-align:center;
}
.pages {
    padding-top: 25px;
}
.copy{
    padding-top: 5px;;
}